.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
	color: white;
	background-color: var(--slack-color);
}
.header__left {
	display: flex;
	align-items: center;
	margin-left: 20px;
	flex: 0.3;
}

/* Targeting material ui icons */
.header__left > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 30px;
}

.header__center {
	flex: 0.4;
	background-color: #421f44;
	text-align: center;
	display: flex;
	padding: 0px 50px;
	color: gray;
	border: 1px gray solid;
	border-radius: 6px;
}

.header__center > input {
	background-color: transparent;
	border: none;
	outline: none;
    text-align: center;
    color: whitesmoke;
	min-width: 35vw;
}

.header__right {
	flex: 0.3;
	display: flex;
	align-items: flex-end;
}

.header__right > .MuiSvgIcon-root {
	margin-left: auto;
	margin-right: 20px;
}
