.chat {
	flex: 0.7;
	flex-grow: 1;
	overflow-y: scroll;
	padding-bottom: 150px;
	background-color: rgb(252, 252, 252);
}
.chat::-webkit-scrollbar {
	width: 12px;
}

.chat::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.chat__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px lightgray solid;
}

.chat__headerRight > p {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
	margin-right: 5px !important;
	font-size: 16px;
}

.chat__channelName {
	display: flex;
	align-items: center;
	text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
	margin-left: 10px;
	font-size: 18px;
}
