.chatInput {
	border-radius: 20px;
}

.chatInput > form {
	position: relative;
	display: flex;
	justify-content: center;
}

.chatInput > form > input {
	position: fixed;
	bottom: 30px;
    width: 60%;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 3px;
	padding: 18px;
}

.chatInput > form > button {
	display: none !important;
}
